<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70740527870-74k7s590bv7dlkqrkbn2vjpeo844i5p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70740527870-74k7s590bv7dlkqrkbn2vjpeo844i5p6</string>
	<key>API_KEY</key>
	<string>AIzaSyCyYZHM7JaPIIYnVOt8sfW23M1Kgd5zv1s</string>
	<key>GCM_SENDER_ID</key>
	<string>70740527870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xechung</string>
	<key>PROJECT_ID</key>
	<string>xechung-acaf5</string>
	<key>STORAGE_BUCKET</key>
	<string>xechung-acaf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70740527870:ios:369b245458d2b0b4de73af</string>
</dict>
</plist>